@media screen and (max-width: 950px) {
    .animation_start .line{
        -webkit-animation: slide-in-left_column 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
        animation: slide-in-left_column 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}
.animation_start .circle{
    -webkit-animation: scaler 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    animation: scaler 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}
.animation_start .time{
    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}
  
  .animation_start .event_name{
    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
    animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
  }
}