@font-face {
  font-family:'Richmond';
  src: url('/assets/style/fonts/Richmond\ Hill\ W90\ Two\ Regular.eot');
  src: url('/assets/style/fonts/Richmond\ Hill\ W90\ Two\ Regular.woff2') format('woff2'),
  url('/assets/style/fonts/Richmond\ Hill\ W90\ Two\ Regular.woff') format('woff'),
  url('/assets/style/fonts/Richmond\ Hill\ W90\ Two\ Regular.ttf') format('truetype'),
  url('/assets/style/fonts/Richmond\ Hill\ W90\ Two\ Regular.svg') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: 'Arno Pro ';
  src: local('/assets/style/Arno Pro  Display Regular'), local('Arno-Pro--Display-Regular'),
      url('/assets/style/ArnoPro-Display.woff2') format('woff2'),
      url('/assets/style/ArnoPro-Display.woff') format('woff'),
      url('/assets/style/ArnoPro-Display.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arno Pro Light';
  src: local('Arno Pro  Display Light'), local('Arno-Pro--Display-Light'),
      url('/assets/style/ArnoPro-LightDisplay.woff2') format('woff2'),
      url('/assets/style/ArnoPro-LightDisplay.woff') format('woff'),
      url('/assets/style/ArnoPro-LightDisplay.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@mixin richmond{
  font-family:'Richmond';
}

@mixin room{
  font-family:'Room';
  src: url(/assets/style/fonts/room-thin.ttf);
}

@mixin arno{
  font-family:'Arno Pro Light';
}

