@media screen and (max-width: 1450px)
    .programm_day_map
        gap: 30px !important

        .spans
            gap: 35px !important

            .line
                width: 67% !important

@media screen and (max-width: 1150px)
    header
        nav
            ul
                li
                    a
                        font-size: 13px !important

        .timer
            width: 560px !important

            .timer_container
                width: 520px !important

                .timer_values
                    height: 84px !important

                    .numbers_timer
                        font-size: 26px !important

                    .timer_name_value
                        font-size: 12px !important

    .daily_map
        .top_info
            h2
                max-width: 544px

            span
                margin-top: 64px

        .programm_day_map
            gap: 10px !important

            .spans
                top: 74px !important
                gap: 16px !important
                left: 103px !important

                .line
                    width: 61% !important
                    grid-template-rows: 40px 69px 74px !important

            .container_event
                width: 140px !important
                grid-template-rows: 41px 70px 72px !important

                .time
                    font-size: 23px !important

                .circle
                    width: 70px !important
                    height: 70px !important

                .event_name
                    font-size: 16px !important

                svg
                    width: 60%

                .location
                    width: 25px

    .dress_code
        .dress_colors
            margin-top: 10px !important
            margin-bottom: 10px !important

            .bg_gradients
                height: 100px !important
                grid-template-columns: 1fr repeat(4, 149px) 1fr !important

            .bg_circles
                grid-template-columns: 1fr 100px 50px 100px 50px 100px 50px 100px 50px 100px 1fr !important

                .circle_colour
                    height: 100px !important
                    width: 100px !important
