@media screen and (max-width: 1450px) {
  .programm_day_map {
    gap: 30px !important; }
    .programm_day_map .spans {
      gap: 35px !important; }
      .programm_day_map .spans .line {
        width: 67% !important; } }
@media screen and (max-width: 1150px) {
  header nav ul li a {
    font-size: 13px !important; }
  header .timer {
    width: 560px !important; }
    header .timer .timer_container {
      width: 520px !important; }
      header .timer .timer_container .timer_values {
        height: 84px !important; }
        header .timer .timer_container .timer_values .numbers_timer {
          font-size: 26px !important; }
        header .timer .timer_container .timer_values .timer_name_value {
          font-size: 12px !important; }

  .daily_map .top_info h2 {
    max-width: 544px; }
  .daily_map .top_info span {
    margin-top: 64px; }
  .daily_map .programm_day_map {
    gap: 10px !important; }
    .daily_map .programm_day_map .spans {
      top: 74px !important;
      gap: 16px !important;
      left: 103px !important; }
      .daily_map .programm_day_map .spans .line {
        width: 61% !important;
        grid-template-rows: 40px 69px 74px !important; }
    .daily_map .programm_day_map .container_event {
      width: 140px !important;
      grid-template-rows: 41px 70px 72px !important; }
      .daily_map .programm_day_map .container_event .time {
        font-size: 23px !important; }
      .daily_map .programm_day_map .container_event .circle {
        width: 70px !important;
        height: 70px !important; }
      .daily_map .programm_day_map .container_event .event_name {
        font-size: 16px !important; }
      .daily_map .programm_day_map .container_event svg {
        width: 60%; }
      .daily_map .programm_day_map .container_event .location {
        width: 25px; }

  .dress_code .dress_colors {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 100% !important; }
    .dress_code .dress_colors .bg_gradients {
      height: 100px !important;
      grid-template-columns: 1fr repeat(4, 149px) 1fr !important; }
    .dress_code .dress_colors .bg_circles {
      grid-template-columns: 1fr 100px 50px 100px 50px 100px 50px 100px 50px 100px 1fr !important; }
      .dress_code .dress_colors .bg_circles .circle_colour {
        height: 100px !important;
        width: 100px !important; } }
@media screen and (max-width: 950px) {
  main h2 {
    font-size: 50px !important; }
  main .second_info {
    font-size: 22px !important; }

  .dear_guests {
    padding-top: 60px !important; }
    .dear_guests .bottom_text {
      font-size: 24px !important; }

  header {
    grid-template-columns: auto !important;
    grid-template-rows: 65px 1fr 60px 125px !important; }
    header nav ul li a {
      font-size: 11px !important; }
    header .timer {
      grid-area: 4/1/5/4 !important;
      width: 620px !important;
      justify-self: center; }
      header .timer .timer_container {
        width: 580px !important; }
        header .timer .timer_container .timer_values {
          height: 88px !important; }
          header .timer .timer_container .timer_values .numbers_timer {
            font-size: 30px !important; }
          header .timer .timer_container .timer_values .timer_name_value {
            font-size: 14px !important; }

  .daily_map .top_info h2 {
    max-width: 446px !important; }
  .daily_map .programm_day_map {
    display: flex !important;
    flex-direction: column;
    gap: 75px !important;
    align-items: center; }
    .daily_map .programm_day_map .spans {
      display: flex !important;
      flex-direction: column;
      gap: 100px !important;
      left: 50px !important;
      top: 100px !important; }
      .daily_map .programm_day_map .spans .line {
        width: 2px !important;
        height: 75px !important; }
    .daily_map .programm_day_map .container_event {
      grid-template-columns: 35% 65% !important;
      grid-template-rows: 40% 60% !important;
      width: 100% !important;
      justify-items: baseline !important; }
      .daily_map .programm_day_map .container_event .time {
        grid-area: 1/2/2/3;
        align-self: center;
        font-size: 32px !important; }
      .daily_map .programm_day_map .container_event .circle {
        grid-area: 1/1/3/2;
        width: 100px !important;
        height: 100px !important; }
      .daily_map .programm_day_map .container_event .event_name {
        grid-area: 2/2/3/3;
        text-align: left !important;
        padding-top: 0 !important;
        font-size: 24px !important; }
      .daily_map .programm_day_map .container_event .location {
        width: 30px !important; }
      .daily_map .programm_day_map .container_event .rings {
        width: 70% !important; }

  .dress_code .dress_colors .bg_gradients {
    display: flex !important;
    flex-direction: column;
    height: auto !important; }
    .dress_code .dress_colors .bg_gradients .colour_6 {
      display: none; }
    .dress_code .dress_colors .bg_gradients .bg_colour {
      width: 100% !important;
      height: 100px !important; }
  .dress_code .dress_colors .bg_circles {
    display: flex !important;
    flex-direction: column;
    align-items: center; }

  .guest_anket .guest_anket_form {
    max-width: 80% !important; } }

/*# sourceMappingURL=media.css.map */
