@import fonts

*
    padding: 0
    margin: 0
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent

html
    scroll-behavior: smooth
    transition-duration: 1s

a
    text-decoration: none

ul,li
    list-style-type: none

.container
    max-width: 90%

::-webkit-scrollbar
    width: 0

body
    background-image: url(/assets/images/AW8z38IBztw.jpg)
    background-repeat: no-repeat
    background-size: 100%
    background-position-y: 20%
    display: flex
    flex-direction: column
    align-items: center
    background-attachment: fixed

header
    width: 100%
    height: 100vh
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 65px 1fr 60px 75px

    nav
        width: 100%
        height: 100%
        grid-area: 1/1/2/4
        justify-self: center
        background-color: rgba(0, 0, 0, 0.6)
        border-radius: 0 0 10px 10px

        ul
            height: 100%
            display: grid
            grid-template-columns: repeat(6,1fr)

            li
                text-align: center

                a
                    color: #ffffff
                    align-items: center
                    height: 100%
                    display: grid
                    text-transform: uppercase
                    font-size: 16px
                    +room

            li:hover
                cursor: pointer
                background-color: rgba(19, 19, 19, 0.596)

    .Name_container
        display: grid
        grid-template-rows: 105px 2px 30px
        align-content: end
        text-align: center

        p
            color: #ffffff

        .main_word
            +richmond
            font-size: 90px

        .name
            +room
            font-size: 30px
            text-transform: uppercase
            display: flex
            align-items: end

        span
            width: 100%
            height: 100%
            background: #ffffff

    .Name_container:hover
        cursor: default

    .main_word

    .Left_item
        grid-area: 2/1/3/2
        justify-content: left

    .Right_item
        grid-area: 2/3/3/4
        justify-content: right

    .container_btn_go_to_anket
        width: 100%
        height: 100%
        grid-area: 3/2/4/3
        display: grid
        align-items: start
        justify-items: center

        .btn_go_to_anket
            background: #ffffff
            border-radius: 20px
            width: 300px
            height: 45px
            display: grid
            align-items: center
            justify-items: center
            text-transform: uppercase
            font-size: 16px
            +room
            -webkit-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2)
            -moz-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2)
            box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2)

        .btn_go_to_anket:hover
            cursor: pointer

    .timer
        height: 101%
        width: 680px
        position: relative
        grid-area: 4/2/5/3
        display: grid
        justify-items: center
        align-items: center
        background-color: #ffffff
        border-radius: 20px 20px 0 0

        .timer_container
            width: 640px
            position: absolute
            top: 0px
            left: 0px
            display: grid
            margin: 20px
            grid-template-columns: repeat(5,1fr)
            grid-gap: 25px

            .timer_values
                +arno
                color: #ffffff
                text-transform: uppercase
                display: grid
                grid-template-rows: 55% 40%
                row-gap: 5px
                width: 100%
                height: 102px
                background-image: url(/assets/images/TimerBG.jpg)
                background-repeat: no-repeat
                background-size: cover
                text-align: center
                border-radius: 10px
                -webkit-box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset
                -moz-box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset
                box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset

                .numbers_timer
                    display: grid
                    align-items: end
                    justify-items: center
                    font-size: 34px

                .timer_name_value
                    display: grid
                    align-items: start
                    justify-items: center
                    font-size: 16px

        .timer_container:hover
            cursor: default

main
    width: 100%

    .dear_guests
        padding-top: 100px
        background-color: #ffffff
        width: 100%
        display: grid
        justify-items: center
        margin-bottom: 200px

        .bottom_text
            +arno
            font-weight: lighter
            font-size: 32px
            text-align: center
            margin-top: 40px
            margin-bottom: 40px

        .calendar
            display: grid
            grid-template-rows: 50px 300px
            width: 400px
            border: 1px solid #000000
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2)
            -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2)
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2)

            .calendar_top
                display: grid
                grid-template-columns: 1fr 1fr
                +arno
                text-transform: uppercase
                align-items: center
                border-bottom: 1px solid #000000

                .mounth
                    text-align: left
                    font-size: 28px
                    padding-left: 25px

                .year
                    text-align: right
                    padding-right: 25px
                    font-size: 32px

            .calendar_days
                +arno
                position: relative
                display: grid
                grid-template-columns: repeat(7,1fr)
                grid-template-rows: repeat(5,1fr)

                .day
                    color: #000000
                    display: grid
                    font-weight: lighter
                    font-size: 32px
                    text-align: center
                    align-items: center

                .day:hover
                    cursor: default

                .day_out_month
                    color: #6C6F74
                    display: grid
                    font-weight: lighter
                    font-size: 32px
                    text-align: center
                    align-items: center

                .day_out_monthay:hover
                    cursor: default

                svg
                    position: absolute
                    left: 229px
                    top: 114px

                svg:hover
                    cursor: progress
                    fill: #9E9E9E

    .top_info
        padding-top: 50px
        display: flex
        align-items: center
        justify-content: center

        span
            width: 90px
            height: 1px
            background-color: #000000
            margin-top: 20px

        h2
            text-transform: uppercase
            font-size: 58px
            +arno
            font-weight: lighter
            text-align: center

        .left
            margin-right: 20px

        .right
            margin-left: 20px

    .second_info
        +room
        margin-top: 25px
        margin-bottom: 40px
        text-align: center
        font-size: 25px

    .daily_map
        display: flex
        align-items: center
        align-content: center
        justify-items: center
        flex-direction: column
        padding-bottom: 65px
        background-color: #ffffff

        .programm_day_map
            max-width: 90%
            margin-top: 80px
            display: grid
            position: relative
            grid-template-columns: repeat(5,1fr)
            gap: 100px

            .spans
                position: absolute
                top: 116px
                left: 137px
                display: grid
                width: 79%
                grid-template-columns: repeat(4,1fr)
                gap: 94px

                .line
                    height: 2px
                    width: 100%
                    background-color: #000000

            .container_event
                display: grid
                grid-template-rows: 70px 95px 100px
                justify-items: center
                width: 180px

                .time
                    +room
                    font-size: 32px
                    text-align: center

                .circle
                    width: 95px
                    height: 95px
                    border: 2px solid #000000
                    border-radius: 50%
                    display: flex
                    justify-content: center
                    align-items: center

                .event_name
                    padding-top: 20px
                    +room
                    font-size: 24px
                    text-align: center

    .dress_code
        background-color: #ffffff
        display: flex
        flex-direction: column

        .dress_colors
            margin-top: 50px
            position: static
            display: flex
            height: 148px
            margin-bottom: 50px
            justify-content: center

            .bg_gradients
                position: absolute
                width: 100%
                height: 148px
                display: grid
                grid-template-columns: 1fr repeat(4,243px) 1fr
                z-index: 0

                .colour_1
                    background: #ffffff
                    background: linear-gradient(90deg, #ffffff 0%, #f3f3f3 100%)

                .colour_2
                    background: #f3f3f3
                    background: -moz-linear-gradient(90deg, #f3f3f3 0%, #cfcecc 100%)
                    background: -webkit-linear-gradient(90deg, #f3f3f3 0%, #cfcecc 100%)
                    background: linear-gradient(90deg, #f3f3f3 0%, #cfcecc 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#cfcecc",GradientType=1)

                .colour_3
                    background: #cfcecc
                    background: -moz-linear-gradient(90deg, #cfcecc 0%, #b8bbc0 100%)
                    background: -webkit-linear-gradient(90deg, #cfcecc 0%, #b8bbc0 100%)
                    background: linear-gradient(90deg, #cfcecc 0%, #b8bbc0 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcecc",endColorstr="#b8bbc0",GradientType=1)

                .colour_4
                    background: #b8bbc0
                    background: -moz-linear-gradient(90deg, #b8bbc0 0%, #6c6f74 100%)
                    background: -webkit-linear-gradient(90deg, #b8bbc0 0%, #6c6f74 100%)
                    background: linear-gradient(90deg, #b8bbc0 0%, #6c6f74 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8bbc0",endColorstr="#6c6f74",GradientType=1)

                .colour_5
                    background: #6c6f74
                    background: -moz-linear-gradient(90deg, #6c6f74 0%, #000000 100%)
                    background: -webkit-linear-gradient(90deg, #6c6f74 0%, #000000 100%)
                    background: linear-gradient(90deg, #6c6f74 0%, #000000 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c6f74",endColorstr="#000000",GradientType=1)

                .colour_6
                    background: #000000
                    background: -moz-linear-gradient(90deg, #000000 0%, #ffffff 100%)
                    background: -webkit-linear-gradient(90deg, #000000 0%, #ffffff 100%)
                    background: linear-gradient(90deg, #000000 0%, #ffffff 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1)

            .bg_circles
                z-index: 1
                width: 100%
                display: grid
                grid-template-columns: 1fr 148px 93px 148px 93px 148px 93px 148px 93px 148px 1fr

                .circle_colour
                    height: 148px
                    width: 148px
                    border-radius: 50%

                .circle_colour_1
                    grid-column: 2/3
                    background-image: url(/assets/images/1bgdc.jpg)
                    background-size: cover

                .circle_colour_2
                    grid-column: 4/5
                    background-image: url(/assets/images/2bgdc.jpg)
                    background-size: cover

                .circle_colour_3
                    grid-column: 6/7
                    background-image: url(/assets/images/3bgdc.jpg)
                    background-size: cover

                .circle_colour_4
                    grid-column: 8/9
                    background-image: url(/assets/images/4bgdc.jpg)
                    background-size: cover

                .circle_colour_5
                    grid-column: 10/11
                    background-image: url(/assets/images/5bgdc.jpg)
                    background-size: cover

    .guest_anket
        background-color: #ffffff
