@font-face {
  font-family: 'Richmond';
  src: url("/assets/style/fonts/Richmond Hill W90 Two Regular.eot");
  src: url("/assets/style/fonts/Richmond Hill W90 Two Regular.woff2") format("woff2"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.woff") format("woff"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.ttf") format("truetype"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.svg") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }
@font-face {
  font-family: 'Arno Pro ';
  src: local("/assets/style/Arno Pro  Display Regular"), local("Arno-Pro--Display-Regular"), url("/assets/style/ArnoPro-Display.woff2") format("woff2"), url("/assets/style/ArnoPro-Display.woff") format("woff"), url("/assets/style/ArnoPro-Display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Arno Pro Light';
  src: local("Arno Pro  Display Light"), local("Arno-Pro--Display-Light"), url("/assets/style/ArnoPro-LightDisplay.woff2") format("woff2"), url("/assets/style/ArnoPro-LightDisplay.woff") format("woff"), url("/assets/style/ArnoPro-LightDisplay.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth; }

html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.container {
  max-width: 90%; }

::-webkit-scrollbar {
  width: 0; }

body {
  background-image: url(/assets/images/AW8z38IBztw.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed; }

header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px 1fr 60px 75px; }
  header nav {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/4;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px; }
    header nav ul {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr); }
      header nav ul li {
        text-align: center; }
        header nav ul li a {
          color: #ffffff;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          display: grid;
          text-transform: uppercase;
          font-size: 16px;
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf); }
      header nav ul li:hover {
        cursor: pointer;
        background-color: rgba(19, 19, 19, 0.596); }
  header .Name_container {
    display: grid;
    grid-template-rows: 105px 2px 30px;
    -ms-flex-line-pack: end;
        align-content: end;
    text-align: center; }
    header .Name_container p {
      color: #ffffff; }
    header .Name_container .main_word {
      font-family: 'Richmond';
      font-size: 90px; }
    header .Name_container .name {
      font-family: 'Room';
      src: url(/assets/style/fonts/room-thin.ttf);
      font-size: 30px;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end; }
    header .Name_container span {
      width: 100%;
      height: 100%;
      background: #ffffff; }
  header .Name_container:hover {
    cursor: default; }
  header .Left_item {
    grid-area: 2/1/3/2;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
  header .Right_item {
    grid-area: 2/3/3/4;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right; }
  header .container_btn_go_to_anket {
    width: 100%;
    height: 100%;
    grid-area: 3/2/4/3;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center; }
    header .container_btn_go_to_anket .btn_go_to_anket {
      background: #ffffff;
      border-radius: 20px;
      width: 300px;
      height: 45px;
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Room';
      src: url(/assets/style/fonts/room-thin.ttf);
      -webkit-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2); }
    header .container_btn_go_to_anket .btn_go_to_anket:hover {
      cursor: pointer; }
  header .timer {
    height: 101%;
    width: 680px;
    position: relative;
    grid-area: 4/2/5/3;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0; }
    header .timer .timer_container {
      width: 640px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: grid;
      margin: 20px;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 25px; }
      header .timer .timer_container .timer_values {
        font-family: 'Arno Pro Light';
        color: #ffffff;
        text-transform: uppercase;
        display: grid;
        grid-template-rows: 55% 40%;
        row-gap: 5px;
        width: 100%;
        height: 102px;
        background-image: url(/assets/images/TimerBG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-radius: 10px;
        -webkit-box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset;
        box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset; }
        header .timer .timer_container .timer_values .numbers_timer {
          display: grid;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: end;
          justify-items: center;
          font-size: 34px; }
        header .timer .timer_container .timer_values .timer_name_value {
          display: grid;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: start;
          justify-items: center;
          font-size: 16px; }
    header .timer .timer_container:hover {
      cursor: default; }

main {
  width: 100%; }
  main .dear_guests {
    padding-top: 100px;
    background-color: #ffffff;
    width: 100%;
    display: grid;
    justify-items: center;
    margin-bottom: 200px; }
    main .dear_guests .bottom_text {
      font-family: 'Arno Pro Light';
      font-weight: lighter;
      font-size: 32px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px; }
    main .dear_guests .calendar {
      display: grid;
      grid-template-rows: 50px 300px;
      width: 400px;
      border: 1px solid #000000;
      -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2); }
      main .dear_guests .calendar .calendar_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Arno Pro Light';
        text-transform: uppercase;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #000000; }
        main .dear_guests .calendar .calendar_top .mounth {
          text-align: left;
          font-size: 28px;
          padding-left: 25px; }
        main .dear_guests .calendar .calendar_top .year {
          text-align: right;
          padding-right: 25px;
          font-size: 32px; }
      main .dear_guests .calendar .calendar_days {
        font-family: 'Arno Pro Light';
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr); }
        main .dear_guests .calendar .calendar_days .day {
          color: #000000;
          display: grid;
          font-weight: lighter;
          font-size: 32px;
          text-align: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        main .dear_guests .calendar .calendar_days .day:hover {
          cursor: default; }
        main .dear_guests .calendar .calendar_days .day_out_month {
          color: #6C6F74;
          display: grid;
          font-weight: lighter;
          font-size: 32px;
          text-align: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        main .dear_guests .calendar .calendar_days .day_out_monthay:hover {
          cursor: default; }
        main .dear_guests .calendar .calendar_days svg {
          position: absolute;
          left: 229px;
          top: 114px; }
        main .dear_guests .calendar .calendar_days svg:hover {
          cursor: progress;
          fill: #9E9E9E; }
  main .top_info {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    main .top_info span {
      width: 90px;
      height: 1px;
      background-color: #000000;
      margin-top: 20px; }
    main .top_info h2 {
      text-transform: uppercase;
      font-size: 58px;
      font-family: 'Arno Pro Light';
      font-weight: lighter;
      text-align: center; }
    main .top_info .left {
      margin-right: 20px; }
    main .top_info .right {
      margin-left: 20px; }
  main .second_info {
    font-family: 'Room';
    src: url(/assets/style/fonts/room-thin.ttf);
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px; }
  main .daily_map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 65px;
    background-color: #ffffff; }
    main .daily_map .programm_day_map {
      max-width: 90%;
      margin-top: 80px;
      display: grid;
      position: relative;
      grid-template-columns: repeat(5, 1fr);
      gap: 100px; }
      main .daily_map .programm_day_map .spans {
        position: absolute;
        top: 116px;
        left: 137px;
        display: grid;
        width: 79%;
        grid-template-columns: repeat(4, 1fr);
        gap: 94px; }
        main .daily_map .programm_day_map .spans .line {
          height: 2px;
          width: 100%;
          background-color: #000000; }
      main .daily_map .programm_day_map .container_event {
        display: grid;
        grid-template-rows: 70px 95px 100px;
        justify-items: center;
        width: 180px; }
        main .daily_map .programm_day_map .container_event .time {
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf);
          font-size: 32px;
          text-align: center; }
        main .daily_map .programm_day_map .container_event .circle {
          width: 95px;
          height: 95px;
          border: 2px solid #000000;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        main .daily_map .programm_day_map .container_event .event_name {
          padding-top: 20px;
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf);
          font-size: 24px;
          text-align: center; }
  main .dress_code {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    main .dress_code .dress_colors {
      margin-top: 50px;
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 148px;
      margin-bottom: 50px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main .dress_code .dress_colors .bg_gradients {
        position: absolute;
        width: 100%;
        height: 148px;
        display: grid;
        grid-template-columns: 1fr repeat(4, 243px) 1fr;
        z-index: 0; }
        main .dress_code .dress_colors .bg_gradients .colour_1 {
          background: #ffffff;
          background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#f3f3f3));
          background: linear-gradient(90deg, #ffffff 0%, #f3f3f3 100%); }
        main .dress_code .dress_colors .bg_gradients .colour_2 {
          background: #f3f3f3;
          background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#cfcecc));
          background: linear-gradient(90deg, #f3f3f3 0%, #cfcecc 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f3",endColorstr="#cfcecc",GradientType=1); }
        main .dress_code .dress_colors .bg_gradients .colour_3 {
          background: #cfcecc;
          background: -webkit-gradient(linear, left top, right top, from(#cfcecc), to(#b8bbc0));
          background: linear-gradient(90deg, #cfcecc 0%, #b8bbc0 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcecc",endColorstr="#b8bbc0",GradientType=1); }
        main .dress_code .dress_colors .bg_gradients .colour_4 {
          background: #b8bbc0;
          background: -webkit-gradient(linear, left top, right top, from(#b8bbc0), to(#6c6f74));
          background: linear-gradient(90deg, #b8bbc0 0%, #6c6f74 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8bbc0",endColorstr="#6c6f74",GradientType=1); }
        main .dress_code .dress_colors .bg_gradients .colour_5 {
          background: #6c6f74;
          background: -webkit-gradient(linear, left top, right top, from(#6c6f74), to(#000000));
          background: linear-gradient(90deg, #6c6f74 0%, #000000 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c6f74",endColorstr="#000000",GradientType=1); }
        main .dress_code .dress_colors .bg_gradients .colour_6 {
          background: #000000;
          background: -webkit-gradient(linear, left top, right top, from(#000000), to(#ffffff));
          background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); }
      main .dress_code .dress_colors .bg_circles {
        z-index: 1;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 148px 93px 148px 93px 148px 93px 148px 93px 148px 1fr; }
        main .dress_code .dress_colors .bg_circles .circle_colour {
          height: 148px;
          width: 148px;
          border-radius: 50%; }
        main .dress_code .dress_colors .bg_circles .circle_colour_1 {
          grid-column: 2/3;
          background-image: url(/assets/images/1bgdc.jpg);
          background-size: cover; }
        main .dress_code .dress_colors .bg_circles .circle_colour_2 {
          grid-column: 4/5;
          background-image: url(/assets/images/2bgdc.jpg);
          background-size: cover; }
        main .dress_code .dress_colors .bg_circles .circle_colour_3 {
          grid-column: 6/7;
          background-image: url(/assets/images/3bgdc.jpg);
          background-size: cover; }
        main .dress_code .dress_colors .bg_circles .circle_colour_4 {
          grid-column: 8/9;
          background-image: url(/assets/images/4bgdc.jpg);
          background-size: cover; }
        main .dress_code .dress_colors .bg_circles .circle_colour_5 {
          grid-column: 10/11;
          background-image: url(/assets/images/5bgdc.jpg);
          background-size: cover; }
  main .guest_anket {
    background-color: #ffffff;
    margin-bottom: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    main .guest_anket .guest_anket_form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
      main .guest_anket .guest_anket_form .input {
        margin-top: 58px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%; }
        main .guest_anket .guest_anket_form .input .label_top {
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf);
          font-size: 24px;
          margin-bottom: 15px; }
        main .guest_anket .guest_anket_form .input .text_input {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf);
          height: 40px;
          width: 100%;
          font-size: 20px;
          padding-left: 20px; }
        main .guest_anket .guest_anket_form .input .radio_buttons {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          row-gap: 20px; }
          main .guest_anket .guest_anket_form .input .radio_buttons .r_b {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b label {
              font-family: 'Room';
              src: url(/assets/style/fonts/room-thin.ttf);
              font-size: 20px;
              grid-column: 2/3;
              display: inline-block;
              cursor: pointer;
              position: relative;
              padding-left: 40px;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
              margin-right: 0px; }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b label:before {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              position: absolute;
              left: 0px;
              top: 0px;
              border: 1px solid #000000;
              border-radius: 50%; }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b .radio {
              display: none; }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b input[type=radio]:checked + label:before {
              background-image: url(/assets/images/doted.svg);
              background-repeat: no-repeat;
              background-position-x: 2px;
              background-position-y: 2px;
              background-size: 16px; }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b label:hover:before {
              -webkit-filter: brightness(120%);
                      filter: brightness(120%); }
            main .guest_anket .guest_anket_form .input .radio_buttons .r_b input[type=radio]:disabled + label:before {
              border-color: #313131; }
        main .guest_anket .guest_anket_form .input .checkbox {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          row-gap: 20px; }
          main .guest_anket .guest_anket_form .input .checkbox .ch_b {
            position: relative;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            font-family: 'Room';
            src: url(/assets/style/fonts/room-thin.ttf);
            font-size: 20px;
            margin: 0px 0px 10px 0px; }
            main .guest_anket .guest_anket_form .input .checkbox .ch_b input[type=checkbox] {
              position: absolute;
              z-index: -1;
              opacity: 0;
              display: block;
              width: 0;
              height: 0; }
            main .guest_anket .guest_anket_form .input .checkbox .ch_b label {
              display: inline-block;
              position: relative;
              padding: 0 0 0 40px;
              cursor: pointer;
              line-height: 20px; }
            main .guest_anket .guest_anket_form .input .checkbox .ch_b label:before {
              content: "";
              display: inline-block;
              width: 15px;
              height: 15px;
              border: 1px solid #000000;
              left: 0px;
              top: 0px;
              position: absolute;
              cursor: pointer; }
            main .guest_anket .guest_anket_form .input .checkbox .ch_b input[type=checkbox]:checked + label:before {
              background-image: url(/assets/images/chbx.svg);
              background-repeat: no-repeat;
              background-size: 11px;
              background-position-x: 2px;
              background-position-y: 2px; }
      main .guest_anket .guest_anket_form .btn_send {
        width: 100%;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 40px 0px 40px 0px; }
        main .guest_anket .guest_anket_form .btn_send .submit_btn {
          height: 50px;
          width: 300px;
          border-radius: 20px;
          background-color: #000;
          color: #fff;
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf);
          font-size: 24px;
          cursor: pointer; }
        main .guest_anket .guest_anket_form .btn_send .submit_btn:hover {
          background-color: #252525;
          border: none; }
  main .details {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 100px; }
    main .details a {
      width: 300px;
      text-decoration: none;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      color: #ffffff;
      background-color: #000;
      border-radius: 20px;
      font-size: 24px;
      font-family: 'Room';
      src: url(/assets/style/fonts/room-thin.ttf); }
    main .details a:hover {
      background-color: #1b1b1b; }
    main .details .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 30px; }
      main .details .contact .name {
        font-family: 'Room';
        src: url(/assets/style/fonts/room-thin.ttf);
        font-size: 36px;
        text-align: center; }
      main .details .contact a {
        margin-top: 20px; }

footer {
  height: 200px;
  width: 100%;
  background-color: #000;
  font-family: 'Room';
  src: url(/assets/style/fonts/room-thin.ttf);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #ffffff;
  text-align: center; }

/*# sourceMappingURL=style.css.map */