@font-face {
  font-family: 'Richmond';
  src: url("/assets/style/fonts/Richmond Hill W90 Two Regular.eot");
  src: url("/assets/style/fonts/Richmond Hill W90 Two Regular.woff2") format("woff2"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.woff") format("woff"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.ttf") format("truetype"), url("/assets/style/fonts/Richmond Hill W90 Two Regular.svg") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }
@font-face {
  font-family: 'Arno Pro ';
  src: local("/assets/style/Arno Pro  Display Regular"), local("Arno-Pro--Display-Regular"), url("/assets/style/ArnoPro-Display.woff2") format("woff2"), url("/assets/style/ArnoPro-Display.woff") format("woff"), url("/assets/style/ArnoPro-Display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.container {
  max-width: 90%; }

::-webkit-scrollbar {
  width: 0; }

body {
  background-image: url(/assets/images/AW8z38IBztw.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed; }

header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65px 1fr 60px 75px; }
  header nav {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/4;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px; }
    header nav ul {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr); }
      header nav ul li {
        text-align: center; }
        header nav ul li a {
          color: #ffffff;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          display: grid;
          text-transform: uppercase;
          font-size: 16px;
          font-family: 'Room';
          src: url(/assets/style/fonts/room-thin.ttf); }
      header nav ul li:hover {
        cursor: pointer;
        background-color: rgba(19, 19, 19, 0.596); }
  header .Name_container {
    display: grid;
    grid-template-rows: 105px 2px 30px;
    -ms-flex-line-pack: end;
        align-content: end;
    text-align: center; }
    header .Name_container p {
      color: #ffffff; }
    header .Name_container .main_word {
      font-family: 'Richmond';
      font-size: 90px; }
    header .Name_container .name {
      font-family: 'Room';
      src: url(/assets/style/fonts/room-thin.ttf);
      font-size: 30px;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end; }
    header .Name_container span {
      width: 100%;
      height: 100%;
      background: #ffffff; }
  header .Name_container:hover {
    cursor: default; }
  header .Left_item {
    grid-area: 2/1/3/2;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
  header .Right_item {
    grid-area: 2/3/3/4;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right; }
  header .container_btn_go_to_anket {
    width: 100%;
    height: 100%;
    grid-area: 3/2/4/3;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center; }
    header .container_btn_go_to_anket .btn_go_to_anket {
      background: #ffffff;
      border-radius: 20px;
      width: 300px;
      height: 45px;
      display: grid;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-items: center;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Room';
      src: url(/assets/style/fonts/room-thin.ttf);
      -webkit-box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2); }
    header .container_btn_go_to_anket .btn_go_to_anket:hover {
      cursor: pointer; }
  header .timer {
    height: 101%;
    width: 680px;
    position: relative;
    grid-area: 4/2/5/3;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0; }
    header .timer .timer_container {
      width: 640px;
      position: absolute;
      top: 0px;
      left: 0px;
      display: grid;
      margin: 20px;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 25px; }
      header .timer .timer_container .timer_values {
        font-family: 'Arno Pro ';
        color: #ffffff;
        text-transform: uppercase;
        display: grid;
        grid-template-rows: 50% 50%;
        row-gap: 5px;
        width: 100%;
        height: 108px;
        background-image: url(/assets/images/TimerBG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-radius: 10px;
        -webkit-box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset;
        box-shadow: -2px 4px 30px 15px rgba(0, 0, 0, 0.38) inset; }
        header .timer .timer_container .timer_values .numbers_timer {
          display: grid;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: end;
          justify-items: center;
          font-size: 38px; }
        header .timer .timer_container .timer_values .timer_name_value {
          display: grid;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          justify-items: center;
          font-size: 16px; }

main {
  height: 500px;
  width: 100%;
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */